<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
  <main class="container">
    <h2>Bienvenido, {{ username }}</h2>
    <p>Has iniciado sesión correctamente.</p>
    <a href="{{ url_for('logout') }}" class="contrast">Cerrar sesión</a>
  </main>

  <form method="GET" action="{{ url_for('search_food') }}">
    <label for="query">Buscar alimento:</label>
    <input type="text" name="query" id="query" required>
    <button type="submit">Buscar</button>
  </form>
  
</body>
</html>
